<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= user.active %>
  </p>

  <p>
    <strong>Validated:</strong>
    <%= user.validated %>
  </p>

  <p>
    <strong>User data:</strong>
    <%= user.user_data %>
  </p>

  <p>
    <strong>Deactivated at:</strong>
    <%= user.deactivated_at %>
  </p>

</div>
